<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlyFoods</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>com.mie.controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/StudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>com.mie.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpController</display-name>
    <servlet-name>SignUpController</servlet-name>
    <servlet-class>com.mie.controller.SignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpController</servlet-name>
    <url-pattern>/SignUpController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.mie.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecipeController</display-name>
    <servlet-name>RecipeController</servlet-name>
    <servlet-class>com.mie.controller.RecipeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipeController</servlet-name>
    <url-pattern>/RecipeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostEngagementController</display-name>
    <servlet-name>PostEngagementController</servlet-name>
    <servlet-class>com.mie.controller.PostEngagementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostEngagementController</servlet-name>
    <url-pattern>/PostEngagementController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.mie.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>CPUController</display-name>
    <servlet-name>CPUController</servlet-name>
    <servlet-class>com.mie.controller.CPUController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CPUController</servlet-name>
    <url-pattern>/CPUController/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MotherboardController</display-name>
    <servlet-name>MotherboardController</servlet-name>
    <servlet-class>com.mie.controller.MotherboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MotherboardController</servlet-name>
    <url-pattern>/MotherboardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StorageController</display-name>
    <servlet-name>StorageController</servlet-name>
    <servlet-class>com.mie.controller.StorageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StorageController</servlet-name>
    <url-pattern>/StorageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GraphicsController</display-name>
    <servlet-name>GraphicsController</servlet-name>
    <servlet-class>com.mie.controller.GraphicsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GraphicsController</servlet-name>
    <url-pattern>/GraphicsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PowerController</display-name>
    <servlet-name>PowerController</servlet-name>
    <servlet-class>com.mie.controller.PowerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PowerController</servlet-name>
    <url-pattern>/PowerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaseController</display-name>
    <servlet-name>CaseController</servlet-name>
    <servlet-class>com.mie.controller.CaseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaseController</servlet-name>
    <url-pattern>/CaseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemoryController</display-name>
    <servlet-name>MemoryController</servlet-name>
    <servlet-class>com.mie.controller.MemoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoryController</servlet-name>
    <url-pattern>/MemoryController</url-pattern>
  </servlet-mapping>
</web-app>